@use "../config";

.section-meals {
  padding: config.$padding-l4 0;
  border-bottom: 1px solid #e9e8d4;
  .heading-secondary {
    text-align: center;
    margin-bottom: config.$margin-ml;
  }
}
.meal-cards-container {
  @include config.grid($gap: config.$gap-l, $columns: 1fr 1fr, $centerX: true);
}
.meal-card {
  background-color: config.$primaryShadeTwo;
  border-radius: config.$border-radius-l;
  overflow: hidden;
  max-width: 50rem;
  box-shadow: 0.2rem 0.6rem 9px config.$shadow;
  transition: all config.$transition-m;
  img {
    width: 100%;
  }
  .meal-description {
    .heading-tertiary {
      margin-bottom: config.$margin-xs;
    }
    padding: config.$padding-m;
  }
}
.meal-card:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0.35rem 1.1rem 6px config.$shadow;
}
