@use "config";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1600px;
  margin: config.$margin-center-el;
}

.list-item {
  @include config.flex($gap: 1rem);
}

.logo-container {
  @include config.flex($gap: config.$gap-xs);
  .logo {
    border-radius: config.$border-radius-circle;
    background-color: #fff;
    padding: config.$padding-s;
  }
}

.icon {
  width: 3rem;
}
